:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

  body{
    background-color: var(--body-bg-color);
    color: var(--text-color);
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main"
    "footer footer";

    grid-template-rows: 200px 1fr 100px;
    grid-template-columns: 30vw 1fr;
  }

  .header{
    grid-area: "aside";
    /* background-color: var(--bg-cards);
    height: fit-content;*/
    width: auto;
    /*border: 1px solid red;*/
  }

  .card{
    grid-area: "aside";
    background-color: var(--bg-cards);
    height: auto;
    width: auto;
    border-radius: 1em;
  }

  .card img{
    border-radius: 50%;
    width: auto;
  }

  .mainProjects{
    grid-area: "header";
    background-color: var(--bg-cards);
    height: auto;
    width: auto;
    border-radius: 1em;
    margin: 10px 0 10px 10px;
  }

  .project{
    grid-area: "main";
    background-color: var(--bg-cards);
    height: auto;
    width: auto;
    border-radius: 1em;
    margin: 10px 0 10px 10px;
  }

  .profile{
    grid-area: "aside";
    height: auto;
    width: auto;
    text-align: center;
  }

  .profile img{
    width: 100%;
  }

  svg{
    margin-right: 1em;
  }