:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }
body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

.header,
.article {
  background-color: var(--bg-cards);
  border-radius: 6px;
  padding: 3px;
}

.header h2{
    margin: 0.5em;
}

.fullHeader {
  box-sizing: border-box;
  position: absolute;
}

.profileHeader {
  height: auto;
  width: 300px;

  padding: 5px 0 0 0;

  box-sizing: border-box;

  text-align: center;
}

.profileHeader img {
  box-sizing: border-box;

  height: auto;
  width: 250px;

  border-radius: 50%;
}

.socialHeader {
  height: auto;
  width: 300px;

  box-sizing: border-box;

  margin: 10px 0;
}

.tecnologiesHeader {
  height: auto;
  width: 300px;

  box-sizing: border-box;

  margin: 10px 0;
}

.experienceHeader {
  height: auto;
  width: 300px;

  box-sizing: border-box;

  margin: 10px 0;
}

.educationHeader {
  height: auto;
  width: 300px;

  box-sizing: border-box;

  margin: 10px 0;
}

.fullArticle {
  box-sizing: border-box;
  position: relative;

  margin-left: 310px;
}

.mainProjects {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  align-items: center;
}

.project1 {
  height: 200px;
  width: 49%;

  box-sizing: border-box;

  margin: 10px 0;

  gap: 10px;

  display: block;

  position: absolute;
}

.project1 img,
h3 {
  display: inline-flex;

  padding-right: 1em;
}

.project2 {
  height: 200px;
  width: 50%;

  box-sizing: border-box;

  margin: 10px 0 0 50%;

  gap: 10px;

  display: block;

  position: relative;
}

.project2 img,
h3 {
  display: inline-flex;

  padding-right: 1em;
}

.socialHeader li {
  display: flex;

  gap: 0.5em;

  align-items: center;
}

.tecnologiesHeader li{
    border-radius: 5px;
    background-color: var(--bg-techs);
    color: var(--bg-cards);
    display: inline-flex;
    gap: 10px;
}